[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Pmilivojevic
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pmilivojevic
	label-Verified = -1..+1 group user/Pmilivojevic
	push = group user/Pmilivojevic
	read = group user/Pmilivojevic
	rebase = group user/Pmilivojevic
	removeReviewer = group user/Pmilivojevic
	submit = group user/Pmilivojevic
[access "refs/heads/*"]
	create = group user/Pmilivojevic
	push = +force group user/Pmilivojevic
	pushMerge = group user/Pmilivojevic
	read = group user/Pmilivojevic
[access "refs/tags/*"]
	push = group user/Pmilivojevic
	push = +force group user/Pmilivojevic
